.Stocks__search {
  border: 1px solid $black;
  border-radius: 5px;;
  padding: 20px;
  background-color: $blue-light;
  margin: 10px;
}

.Stocks__search-form input {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  vertical-align: middle;
}

.Stocks__search-form button {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  &:hover {
    border-color: $blue;
  }
}