.Stocks__tickers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
}

.Stocks__tickers-symbols,
.Stocks__tickers-counts {
  border: 1px solid $black;
  padding: 20px;
  background-color: $gray-dark-bg;
}

.Stocks__tickers-heading {
  font-weight: 700;
  font-size: 1.2em;
}

.Stocks__tickers-stock {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.Stocks__tickers-counts_header {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.Stocks__tickers-counts_data span {
  font-weight: 600;
}
