.Stocks__tweets {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Stocks__tweets-tweet {
  display: block;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: $gray-medium-bg;
}

.Stocks__tweets-avatar img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.Stocks__tweets-name {
  font-weight: 600;
  font-size: 1.1em;
}

@media (min-width: 500px) {
  .Stocks__tweets-tweet {
    display: grid;
    grid-template-columns: 75px 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .Stocks__tweets-avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    place-self: top;
    margin-right: 10px;
  }

  .Stocks__tweets-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .Stocks__tweets-username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .Stocks__tweets-created {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    place-self: end;
  }

  .Stocks__tweets-message {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 10px;
  }
}